<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582005154473-3klj3s4vf9rq99eckl22b409701iqaai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582005154473-3klj3s4vf9rq99eckl22b409701iqaai</string>
	<key>API_KEY</key>
	<string>AIzaSyCLMbGK4FrrGUJlctfUSyxVZQyuoCXbEik</string>
	<key>GCM_SENDER_ID</key>
	<string>582005154473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Farangis.SwiftUICombineAndData</string>
	<key>PROJECT_ID</key>
	<string>swiftui-combine-47117</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-combine-47117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582005154473:ios:d5454d38f5fbe1f9ea7fb8</string>
</dict>
</plist>